
body {
  background-color: lightblue;
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Poppins';
}

.primary{
  color: darkgreen;
}

.secondary{
  color: darkblue;
}

footer {
  position: fixed;
  background-color: #f8f8f8;
  border-radius: .5em .5em 0px 0px;
  bottom: 0em;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2);
  padding-top: 1em;
  padding-bottom: 0.4em;

}

@media screen and (min-width: 600px){
  #instagram-feed {
    position: fixed;
    right: 0;
    top: 5em;
    min-width: 340px;
    width: 30%;
    background-color: rgba(255,255,255,0.2);
    border-radius: .5em 0 0 .5em;
  }

  #instagram-feed img{
    max-width: 170px;
  }

  article {
    width: 70%;
    max-width: calc(100% - 340px);
    padding-right: 2em;
  }

  footer{
    left: 30%;
    right: 30%;
    width: 40%;
  }
}

@media screen and (max-width: 599px){
  #instagram-feed {
    background-color: rgba(255,255,255,0.2);
  }
}

#instagram-feed img {
  padding: 10px 10px;
}
