body {
  background-color: lightblue;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Bangers', cursive;
}

h2, footer {
  font-family: 'Pragati Narrow', sans-serif;
}

.primary{
  color: purple;
}

.secondary{
  color: blue;
}
