body {
  background-color: lightblue;
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding-bottom: 40px;
}

h1 {
  font-family: 'Bangers', cursive;
}

h2, footer {
  font-family: 'Pragati Narrow', sans-serif;
}

.primary {
  color: purple;
}

.secondary {
  color: blue;
}

#instagram-feed {
  position: fixed;
  right: 0;
  top: 80px;
  min-width: 340px;
  width: 30%;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px 0 0 8px;
}

article {
  text-align: left;
  width: 70%;
  max-width: calc(100% - 360px);
}

footer {
  left: 30%;
  right: 30%;
  width: 40%;
  position: fixed;
  background-color: #f8f8f8;
  border-radius: 8px 8px 0px 0px;
  bottom: 0px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  padding-top: 4px;
  padding-bottom: 0px;
  padding-left: 4px;
  padding-right: 4px;
}
